
#///////////////////////////
# Unity
#///////////////////////////
Library/
Temp/
Logs/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
#//////////////////////////
.idea/